.hero{
    width: 100%;
    height: 10rem;
    text-align: center;
    margin-top: 4rem;
}
.hero h1{
    font-size: 2.8rem;
    margin-bottom: 2rem;
}
.hero p{
    color: darkgray;
    margin-bottom: 3rem;
}


.imgContainer{
    display: flex;
    flex-flow: column;
    position: relative;
    height: auto;
    overflow: hidden;
}
.imgContainer div{
    display: flex;
    gap: 1.8rem;
    margin-bottom: 1rem;
}
.imgContainer .first{
    transform: translateX(0rem);
}
.imgContainer .second{
    transform: translateX(8rem);
}
img{
    width: 300px;
    height: 360px;
}
.shade{
    position: absolute;
    width: 100%;
    height: 98%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}

@media(max-width:1200px){
    .imgContainer img{
        width: 200px;
        height: 260px;
    }
   .imgContainer .first{
        transform: translateX(3rem);
    }
    .imgContainer .second{
        transform: translateX(10rem);
    }
}

@media(max-width:800px){
    .hero h1{
        font-size: 2rem;
    }
    .hero p{
        font-size: 0.9rem;
    }
    .imgContainer .first{
        transform: translateX(0rem);
    }
    .imgContainer .second{
        transform: translateX(0rem);
    }
}